h1{
    font-size: 30px;
    text-align: center;
    color: #8771de
    }
    
    p{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    }
    
    body {
    background-color: #c3c4d8;
    }